// Import page-specific CSS files here.
@import "home";
@import "show";

.main-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.cards-container {
  width: 70%;
  display: flex;
}

#map {
  position: sticky !important;
  top: 0 !important;
  height: 600px;
}

@media only screen and (max-width : 767px) {
  .main-container{
    flex-direction: column;
  }
  .cards-container {
    width: 100%;
  }
  #map {
    position: sticky !important;
    bottom: 0 !important;
    top: auto;
    height: 25vh;
  }
  #search-bar
  {
    display:none;
  }
}
.container h1 {
  text-align: center;
}
.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.item_photo {
  max-width: 200px;
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.user_avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px black;
}
.message-name {
  padding-left: 10px;
  min-width: 100px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}
