// Import page-specific CSS files here.
@import "home";
@import "show";

.main-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.cards-container {
  width: 70%;
  display: flex;
}

#map {
  position: sticky !important;
  top: 0 !important;
  height: 600px;
}

@media only screen and (max-width : 767px) {
  .main-container{
    flex-direction: column;
  }
  .cards-container {
    width: 100%;
  }
  #map {
    position: sticky !important;
    bottom: 0 !important;
    top: auto;
    height: 25vh;
  }
  #search-bar
  {
    display:none;
  }
}
