.footer {
  display: flex;
  flex-shrink: 0;
  color: white;
  background-color: #393845;
  //padding-top: 2vh;
  //margin-top: 5vh;
  width: 100%;
  text-align: center;
  padding: 8px 0;
}

.container-footer {
  margin-left: 55%;
}
