// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials

@import "layouts/index";
@import "components/index";
@import "pages/index";

//since html, body and main-content are super high level,
//their styling can be done here

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.main-content {
  flex: 1 0 auto;
  min-height: 500px;
}
