<footer class="footer page-footer blue-grey darken-4">
  <div class="container container-footer">
    <div class="row">
      <div class="col-xs-4 navbar-wagon-link">About us</div>
      <div class="col-xs-4 navbar-wagon-link">Privacy Policy</div>
      <div class="col-xs-4 navbar-wagon-link">Copyright 2018</div>
    </div>
  </div>
</footer>
